body {
    background-color: cornsilk;
}

.stacks-list {
    list-style: none;
    padding-left: 0;
  }
  
  .stacks-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .stacks-list li .stack-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }