/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  background-image: url('/images/background4.jpg');
  margin: 0;
  display: flex;
  flex-direction: column;
  background-size: cover;
  
  
}

/* App Styles */
.app {
  background-image: url('/images/background4.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  display: flex;
  flex-direction: column;
  flex-flow: column nowrap;
  min-height: 160vh; /*this seems to fix footer issue*/
  position: relative;
  z-index: 2;
}

/* .quote {
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
  font-family: 'Dancing Script', cursive;
  color: rgba(218, 245, 245, 0.988);
} */


/* Header */
.header {
  position: relative;
  display: flex;
  align-items: center;
  font-family: 'Shantell Sans', cursive;
  justify-content: space-around;
  background-color: #8A984B;
  padding: 10px;
  z-index: 3;
}

.feather-icon {
  width: 25px; 
  height: 25px; 
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #333;
  padding: 10px 20px;
}

.navbar ul {
  display: flex;
  gap: 20px; 
}

@media (max-width: 400px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start; 
    background-color: transparent;
    
  }

  .navbar ul {
    flex-direction: column; 
    gap: 10px; 
  }

  .navbar a {
    color: #ccc;
  }

  .navbar a:hover {
    color: #b69a6c;
}
}

li {
  list-style: none;
  padding-left: 0;
}

a {
  font-weight: 500;
  color: #47d775;
  text-decoration: inherit;
  
}

a:hover {
  color: #21a147;
}

/* Home Page */
.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.welcome h1 {
  font-size: 4rem;
  font-family: 'Caveat', cursive;
  color: #fff;
  
}


/* About Me Page */
.about-me {
  background-color: #9A5B8A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: x-large;
  font-style: italic;
  padding: 20px;
  margin-bottom: 20px;
}

/* images */
.big-city {
  width: 200px;
  height: 250px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.gaming, .ducks, .giza {
  width: 350px;
  height: 250px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.coke {
  width: 250px;
  height: 250px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.goose {
  width: 350px;
  height: 380px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.rounded-image {
  border: 10px solid #133C55;
  border-radius: 50px;
  margin: 10px; 
  max-width: 100%;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0; 
}

/* Projects Page */
.projects {
  background-color: #99735A;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 60px;
}

.project {
  background-color: #ADB988;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
}

.page-title {
  font-size: 2rem; 
  font-weight: bold; 
  text-align: center; 
  margin-top: 20px; 
  
}

.project:hover {
  transform: translateY(-5px);
}

.project-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #995D5A;
  border-radius: 8px 8px 0 0;
  padding: 10px;
}

.project-image {
  width: 100%; 
  max-height: 200px; 
  border-radius: 8px 8px 0 0; 
}

.project-details {
  padding: 20px;
}

.project-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.project-description {
  margin-bottom: 10px;
}

.project-technologies {
  font-style: italic;
  margin-bottom: 10px;
}

.project-link {
  text-decoration: none;
  color: #007BFF;
  font-weight: 500;
  display: inline-block;
  margin-top: 10px;
  transition: color 0.2s ease;
}

.project-link:hover {
  color: #0056b3;
}


/* Stacks Page */
.stacks {
  background-color: #BDC7A0;
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  padding: 20px;
  
}

.stacks-list {
  list-style: none;
  padding-left: 0;
}

.stacks-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.stacks-list li .stack-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/* Contact Page */
.contact {
  background-color: rgb(56, 111, 164);
  color: cornsilk;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: x-large;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto;
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}


/* Contact form */
.contact-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #0056b3;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* More about me Page */

/* .more-about-me {
 
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.btn-more-about-me {
  display: inline-block;
  padding: 10px 20px;
  background-color: #085121;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btn-more-about-me:hover {
  background-color: #0e4105;
} */

/* Footer */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-icons img {
  width: 30px;
  height: 30px;
}
 
.year {
  font-family: cursive; 
  position: absolute;
  top: 50%; 
  right: 20px; 
  transform: translateY(-50%); 
  font-size: 18px; 
  color: #fff; 
}