/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  background-color: rgb(132, 210, 246);
  margin: 0;
  display: flex;
  flex-direction: column;
  
  
}

/* App Styles */
.app {
  background-image: url('/images/laptop.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  z-index: 2;
}


/* Header */
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(145, 229, 246);
  padding: 10px;
}

.logo {
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  margin: 20px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #5390D9;
  padding: 10px 20px;
}

.navbar ul {
  display: flex;
  gap: 20px; 
}

li {
  list-style: none;
  padding-left: 0;
}

a {
  font-weight: 500;
  color: #133C55;
  text-decoration: inherit;
  
}

a:hover {
  color: #535bf2;
}


/* About Me Page */
.about-me {
  background-color: rgb(132, 210, 246);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  margin-bottom: 20px;
}

/* images */
.big-city {
  width: 200px;
  height: 250px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.goose {
  width: 200px;
  height: 250px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.flower {
  width: 200px;
  height: 250px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.coke {
  width: 250px;
  height: 250px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.rounded-image {
  border: 10px solid #133C55;
  border-radius: 50px;
  margin: 10px; 
  max-width: 100%;
}

/* Projects Page */
.projects {
  background-color: rgb(132, 210, 246);
  flex: 1;
  min-height: 100vh;
  margin-bottom: 60px;
  padding-bottom: 20px;
}


/* Stacks Page */
.stacks {
  background-color: #94B2B9;
  flex: 1;
  min-height: 100vh;
  
}

.stacks-list {
  list-style: none;
  padding-left: 0;
}

.stacks-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.stacks-list li .stack-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/* Contact Page */
.contact {
  background-color: rgb(56, 111, 164);
  flex: 1;
  min-height: 100vh;
}


/* Footer */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-icons img {
  width: 30px;
  height: 30px;
}
 